#everything:
/*
#except:

!.vimrc 
!.bash_profile 
!.bashrc 
!.xprofile 
!.xinitrc 
!.xbindkeysrc
!configprogress/
configprogress/*
!configprogress/package_list
!.config/
.config/*
!.config/polybar/
.config/polybar/*
!.config/polybar/config
!.config/mpd/
.config/mpd/*
!.config/mpd/mpd.conf
!.config/i3/
.config/i3/*
!.config/i3/config
!.config/termite/
.config/termite/*
!.config/termite/config
#!.config/polybar/config
#!*/.config/i3/config
#!.config/termite/config
!.gitignore
#!*/
