#everything:
/*
#except:

!.vimrc 
!.bash_profile 
!.bashrc 
!.bash_aliases
!.xprofile 
!.xinitrc 
!.xbindkeysrc
!configprogress/
configprogress/*
!configprogress/package_list
!.config/
.config/*
!.config/polybar/
.config/polybar/*
!.config/polybar/config
!.config/polybar/hdmi1
!.config/mpd/
.config/mpd/*
!.config/mpd/mpd.conf
!.config/i3/
.config/i3/*
!.config/i3/config
!.config/termite/
.config/termite/*
!.config/termite/config
!.config/dunst/
.config/dunst/*
!.config/dunst/dunstrc
!.config/picom/
.config/picom/*
!.config/picom/picom.conf
!.config/nvim/
.config/nvim/*
!.config/nvim/init.vim
!.gitignore
!.config/sway/
!.config/sway/*
!.config/rofi/
.config/rofi
!.config/rofi/config.rasi
!.config/i3blocks/*
#!*/
