#everything:
*
#except:
!.vimrc 
!.bash_profile 
!.bashrc 
!.xbindkeysrc 
!.xprofile 
!.xinitrc 
!.xbindkeysrc
!.config/mpd/mpd.conf
!.config/polybar/config
!*/.config/i3/config
!configprogress/package_list
!.config/termite/config
!.gitignore
!*/
